/* tiles */
td{
    height : 50px;
    width : 50px;
    padding : 12px;
    textAlign : center;
    fontFamily : Helvetica;
    fontWeight : bolder;
    border : 1px solid;
}

.white{
    color : #041005;
    /*border-color: #60D269;*/
    /*background-Color : #60D269;*/
    border-color: #FFFFFF;
    background-Color : #FFFFFF;
}
.black{
    /*color : #60D269;*/
    color : #FFFFFF;
    border-color: #041005;
    background-Color : #041005;
}
#highlighted{
    border-color: #43eaea;
}
body{
    background-color: #041005;
}

table{
    /*border: 2px solid #60D269;*/
    border: 2px solid #FFFFFF;
    margin-left: auto;
    margin-right: auto;
}