
.topTA {
    resize: none;
    white-space: nowrap;
    overflow-x: hidden;
    color: #222529;
    height: 30px;
    width: 90px;
}

#messages {
    height: 300px;
    width: auto;
    padding: 50px;
    background-color: white;
    overflow-y: scroll;
    scroll-behavior: auto;
    border-radius: 10px 10px 0 0;
}

body {
    margin: 0 auto;
    padding: 15px;
    background-color: #222529;
    font-family: Helvetica;
    font-size: 12px;
}
#chessboard{
    float: left;
}

#chatApp{
    background-color: #505357;
    padding: 15px;
    margin: 15px;
    float: left;
    width: 300px;
}
button{
    color : white;
    background-color: #222529;
    border : none;
}
#footer {
    width: auto;
    display: flex;
    padding: 0px;
}
#sendMessageTA{
    resize: none;
    color: #222529;
    border-top-color: #222529;
    border-right: none;
    border-left: none;
    border-bottom: none;
    background-color: white;
    width : 90%;
    height : 30px;
    margin: 0px;
    padding-left: 5px;
    border-radius: 0 0 0 10px;
}
#sendMessageBtn{
    width: 10%;
    height : 30px;
    border-radius: 0 0 10px 0;
}
#userNameTA{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-left: 5px;
    border: none;
    text-align: center;
}
#roomNameTA{
    padding-left: 5px;
    border-top: none;
    border-bottom: none;
    border-right: none;
    border-color: #222529;
    text-align: center;
}
#joinGameBtn{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin:0px;
    width: 50px;
}

.roomName {
    font-weight: normal;
    color: white;
    background-color: #222529;
    margin: 0px;
    padding: 5px;
    text-align: center;
}

.userName {
    font-weight: bold;
    color: #222529;
}
#messages{
    background-color: #2B2E32;
    margin: 0px;
    padding: 0px;
    height: 530px;
}
.entireMessage{
    width: 250px;
    height: auto;
    border-radius: 15px;
    margin-top: 15px;
    margin-bottom: 15px;

}
.messageText{
    padding: 5px;
    margin:0px;
    color: white;
    height: auto;
    word-wrap: break-word;

}
.messageUsername{
    margin: 3px 0px 0px;
    color: white;

}
header{
    width: auto;
    display: flex;
    padding-bottom: 10px;
}
.blackTile{
    width: 70px;
    height: 70px;
    background-color: #000000;
}
.whiteTile{
    width: 70px;
    height: 70px;
    background-color: white;
}
.blackTileHigh{
    width: 70px;
    height: 70px;
    background-color: #8c8c8c;
}
.whiteTileHigh{
    width: 70px;
    height: 70px;
    background-color: #8c8c8c;
}

